<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="User" connectionString="Data Source=localhost:1522/MDAir.be.by;User ID=MDAIR_CLIENT;Password=7777777;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="Manager" connectionString="Data Source=localhost:1522/MDAir.be.by;User ID=MDAIR_MANAGER;Password=qazwsx909;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
</configuration>